<template>
  <div class="roles-view">
    <h2 class="content-block">Roles</h2>
    <roles-grid />
  </div>
</template>

<script>
import RolesGrid from "../components/roles";

export default {
  name: "roles",
  components: { RolesGrid },
}
</script>

<style lang="scss">
.roles-view {

}
</style>
