<template>
  <div class="users-view">
    <h2 class="content-block">Users</h2>
    <users-grid />
  </div>
</template>

<script>
import UsersGrid from "../components/users";

export default {
  name: "users",
  components: { UsersGrid },
}
</script>

<style lang="scss">
.users-view {

}
</style>
