<template>
  <dx-data-grid
    class="dx-card content-block users"
    :data-source="dataSource"
    :remote-operations="true"
    :show-borders="false"
    :focused-row-enabled="false"
    :column-auto-width="false"
    :column-hiding-enabled="false"
    :hover-state-enabled="true"
    key-expr="id"
    ref="dataGrid"
    @editor-preparing="onEditorPreparing"
  >
    <dx-paging :enabled="true" :page-size="10" />
    <dx-filter-row :visible="true" />
    <dx-header-filter :visible="true" />
    <dx-filter-panel :visible="true" />
    <dx-editing
      :allow-updating="true"
      :allow-deleting="true"
      :allow-adding="true"
      mode="popup"
    />

    <dx-column
      data-field="id"
      caption="ID"
      :width="100"
      :allow-header-filtering="false"
      :visible="false"
    >
      <dx-form-item :visible="false" />
    </dx-column>

    <dx-column
      data-field="username"
      caption="Username"
      :width="150"
      :allow-header-filtering="false"
    >
      <dx-required-rule />
    </dx-column>

    <dx-column
      data-field="displayName"
      caption="Name"
      :allow-header-filtering="false"
    >
      <dx-required-rule />
    </dx-column>

    <dx-column
      data-field="email"
      caption="Email"
      :width="200"
      :allow-header-filtering="false"
    />

    <dx-column
      data-field="phoneNumber"
      caption="Phone"
      :width="140"
      :allow-header-filtering="false"
      cell-template="phone-number"
    />

    <dx-column
      data-field="roles"
      caption="Roles"
      :allow-sorting="false"
      cell-template="roles-cell"
    >
      <dx-lookup :data-source="roles" value-expr="id" display-expr="name" />
    </dx-column>

    <dx-column
      data-field="state"
      caption="State"
      :width="155"
      :allow-sorting="false"
    >
      <dx-lookup
        :data-source="userStates"
        value-expr="code"
        display-expr="name"
      />
      <dx-required-rule />
    </dx-column>

    <template #phone-number="{ data }">
      {{ formatPhoneNumber(data.displayValue) }}
    </template>

    <template #roles-cell="{ data }">
      <ul
        v-if="data.data.roles"
        class="user-roles"
        :title="
          data.data.roles
            ? data.data.roles
                .map((role) => `${role.code} (${role.name})`)
                .join('\n')
            : ''
        "
      >
        <!-- eslint-disable-next-line -->
        <li v-for="role in data.data.roles" :key="role.code">{{ role.code }}</li>
      </ul>
    </template>
  </dx-data-grid>
</template>

<script>
import DxDataGrid, {
  DxColumn,
  DxFilterRow,
  DxHeaderFilter,
  DxPaging,
  DxFilterPanel,
  DxFormItem,
  DxEditing,
  DxLookup,
} from "devextreme-vue/data-grid";
import "devextreme-vue/tag-box";
import { DxRequiredRule } from "devextreme-vue/validator";
import API from "../../services";
import DataBacked from "../../components/data-backed";
import { mapCacheActions } from "vuex-cache";
import { formatPhoneNumber } from "../../utils";

export default {
  name: "users",
  mixins: [DataBacked],
  data() {
    return {
      dataSource: this.createDataSource(API.findUsers, {
        insertFunc: API.postUser,
        updateFunc: API.patchUser,
        removeFunc: API.deleteUser,
      }),
      roles: null,
      userStates: null,
    };
  },
  methods: {
    ...mapCacheActions(["getRoles", "getRefDataUserStates"]),
    formatPhoneNumber,
    async loadData() {
      try {
        const [roles, userStates] = await Promise.all([
          this.getRoles(),
          this.getRefDataUserStates(),
        ]);
        this.roles = roles.map((role) => ({
          ...role,
          name: `(${role.code}) ${role.name}`,
        }));
        this.userStates = userStates;
      } catch (err) {
        this.processDataError(err);
      }
    },
    beforeQueryData(query/*, options*/) {
      const filterValue = this.$refs.dataGrid.instance.option("filterValue");
      if (filterValue) {
        query["filter-json"] = JSON.stringify(filterValue);
      }
      // eslint-disable-next-line
      // console.debug("users::beforeQueryData", query, options);
    },
    onEditorPreparing(e) {
      if (e.parentType == "filterRow" && e.editorName == "dxSelectBox") {
        switch (e.dataField) {
          case "roles":
            e.editorOptions.onOpened = (e) =>
              e.component._popup.option("width", 220);
            break;
          default:
        }
      } else if (e.name == "roles" && e.row && e.row.rowType === "data") {
        e.editorName = "dxTagBox";
        // e.editorOptions.disabled = e.row && e.row.isNewRow;
        e.editorOptions.valueExpr = "code";
        e.editorOptions.displayExpr = "name";
        e.editorOptions.searchEnabled = true;
        e.editorOptions.showSelectionControls = true;
        e.editorOptions.placeholder = e.row.isNewRow
          ? "Save user to select roles..."
          : "Select user roles...";
        e.editorOptions.dataSource = this.roles;
        e.editorOptions.value = e.value ? e.value.map((role) => role.code) : [];
        const roles = {};
        // role[] -> Code[]
        e.editorOptions.onSelectionChanged = (e) =>
          e.addedItems.forEach((role) => {
            roles[`${role.code}`] = role;
          });
        // Code[] -> role[]
        const onValueChanged = e.editorOptions.onValueChanged;
        e.editorOptions.onValueChanged = (e) =>
          onValueChanged({ ...e, value: e.value.map((code) => roles[code]) });
      }
    },
  },
  created() {
    this.loadData();
  },
  components: {
    DxDataGrid,
    DxColumn,
    DxFilterRow,
    DxHeaderFilter,
    DxPaging,
    DxFilterPanel,
    DxFormItem,
    DxEditing,
    DxLookup,
    DxRequiredRule,
  },
};
</script>

<style lang="scss">
.users {
  display: flex;
  justify-content: center;
  padding: 16px;

  .dx-datagrid-header-panel .dx-toolbar {
    margin: 5px 0;
    padding: 0 5px;
  }

  ul.user-roles {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      &:not(:last-child) {
        &:after {
          content: ", ";
        }
      }
    }
  }
}
</style>
