<template>
  <dx-data-grid
    class="dx-card content-block"
    :data-source="dataSource"
    :remote-operations="true"
    :show-borders="false"
    :focused-row-enabled="false"
    :column-auto-width="false"
    :column-hiding-enabled="false"
    :hover-state-enabled="true"
    key-expr="id"
    ref="dataGrid"
  >
    <dx-paging :enabled="true" :page-size="10" />
    <dx-filter-row :visible="true" />
    <dx-header-filter :visible="true" />
    <dx-filter-panel :visible="true" />
    <dx-editing
      :allow-updating="true"
      :allow-deleting="true"
      :allow-adding="true"
      mode="popup"
    />

    <dx-column
      data-field="id"
      caption="ID"
      :width="100"
      :allow-header-filtering="false"
      :visible="false"
    >
      <dx-form-item :visible="false" />
    </dx-column>

    <dx-column
      data-field="code"
      caption="Code"
      :width="150"
      :allow-header-filtering="false"
    >
      <dx-required-rule />
    </dx-column>

    <dx-column
      data-field="name"
      caption="Name"
      :allow-header-filtering="false"
    >
      <dx-required-rule />
    </dx-column>
  </dx-data-grid>
</template>

<script>
import DxDataGrid, {
  DxColumn,
  DxFilterRow,
  DxHeaderFilter,
  DxPaging,
  DxFilterPanel,
  DxFormItem,
  DxEditing,
} from "devextreme-vue/data-grid";
import { DxRequiredRule } from "devextreme-vue/validator";
import API from "../../services";
import DataBacked from "../data-backed";

export default {
  name: "roles-grid",
  mixins: [DataBacked],
  data() {
    return {
      dataSource: this.createDataSource(API.findRoles, {
        insertFunc: API.postRole,
        updateFunc: API.patchRole,
        removeFunc: API.deleteRole,
      }),
    };
  },
  components: {
    DxDataGrid,
    DxColumn,
    DxFilterRow,
    DxHeaderFilter,
    DxPaging,
    DxFilterPanel,
    DxFormItem,
    DxEditing,
    DxRequiredRule,
  },
};
</script>

<style lang="scss">
.roles {
  .dx-datagrid-header-panel .dx-toolbar {
    margin: 5px 0;
    padding: 0 5px;
  }
}
</style>
